* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
}

.nav-bar {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #5f11e8;
}

.container {
  max-width: 1100px;
  padding: 0.5rem 1rem;
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #3D3D3D;
  padding: 0.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.article-heading {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1rem;
}

.article-img {
  width: 100%;
  padding: 0.7rem 0;
}

.article-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.article-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.written-by {
  color: #5f11e8;
}

.likes {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  color: #d02670;
}

@media (min-width: 850px) {

  .article {
    flex-direction: row-reverse;
    margin-bottom: 5rem;
  }

  .nav-bar {
    margin-bottom: 2rem;
  }

  .article-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .article-img {
    width: 50%;
  }

  .article-img img {
    height: 370px;
  }

}
